.Login {

  .Login__overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.43);
  }
  .Login__content {
   max-width: 492px;
   margin: 0 auto;

    h2 {
      font-size: 3rem;
      line-height: 1.5;
      margin-bottom: 56px;
      margin-top: 0;
    }
  }

  .Login__content-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    max-width: 792px;
    min-height: 200px;
    left: 0;
    top: 160px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 40px 16px 64px;

    @media (min-width: 768px) {
      left: calc(50% - 400px);
    }
  }

  .Login__action {
    margin: 32px 0;
  }

  .Login__enter-btn {
    width: 100%;
    background: #C7D2E9;
    padding: 16px;
    border-radius: 8px;
  }

  .Login__control {
    .Login__control-label {
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 12px;
    }

    .Login__control-input {
      display: block;
      width: 100%;
      background: #F9F9FB;
      border: 1px solid #C7D2E9;
      border-radius: 8px;
      padding: 16px 42px 14px 14px ;
    }
  }

  .Login__close-btn {
    position: absolute;

    background: #C7D2E9;
    padding: 16px;
    border-radius: 8px;

    right: 10px;
    top: 10px;
  }
}
