.Museum {
  .Museum__nav-item {
    margin-right: 24px;
  }

  .Museum__items {
    margin: 32px 0;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
      justify-content: space-between;
      flex-flow: row wrap;
    }

    .Museum__item {
      font-family: sans-serif;
      color: #000000;
      margin-bottom: 24px;

      @media (min-width: 768px) {
        max-width: calc(50% - 40px);
      }

      @media (min-width: 1024px) {
        max-width: calc(33.33% - 40px);
      }
    }


    .Museum__item-image {
      height: 200px;
      width: 400px;
      margin-bottom: 24px;
      background-size: cover;
      background-position: center;

      @media (min-width: 1024px) {
        height: 148px;
        width: 300px;
      }

      image,
      svg {
        height: 148px;
      }
    }

    .Museum__item-title {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 8px;
    }

    .Museum__item-address {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 16px;
    }

    .Museum__item-about-link {
      font-size: 1rem;
      line-height: 1.5rem;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .Museums__history,
  .Museums__history p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
