.Main {
  padding: 0 0 32px;

  h1,
  h2 {
    margin-top: 100px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.Main__menu {
  margin: 24px 0;
}

.Main__menu-item {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-right: 40px;
  text-decoration: underline;

  &:last-child {
    margin-right: 0;
  }
}
