.Poster__carousel {
  max-height: 600px;
  position: relative;

}

.Poster__current {
  position: relative;
  background: #ccc;


  .image {
    min-height: 300px;
    width: 100%;
    @media (min-width: 768px) {
      height: 500px;
    }
    @media (min-width: 1024px) {
      height: 600px;
    }
  }

}
.Poster__carousel-nav {
  position: absolute;
  top: calc(50% - 45px);
  z-index: 1;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10%;
  padding: 16px 8px;
  cursor: pointer;

  svg {
    height: 50px;
  }

  @media (min-width: 768px) {
    top: calc(50% - 35px);
    svg {
      height: auto;
    }
  }
}

.Poster__carousel-prev {
  left: 16px;

  @media (min-width: 1280px) {
    left: -64px;
  }
}

.Poster__carousel-next {
  right: 16px;

  @media (min-width: 1280px) {
    right: -64px;
  }
}

.Poster__buy-btn {
  position: absolute;
  bottom: 24px;
  left: 32px;

  @media (min-width: 1024px) {
    bottom: 64px;
    left: 48px;
  }
}

.Poster__actions {
  display: flex;
  margin-top: 24px;
}

.Poster__action {
  margin-right: 40px;
}
