.Header {
  padding: 32px 0;
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;
  justify-content: space-between;

  .Header__go-to-main {
    position: absolute;
    left: 240px;
    top: -200px;
    &:focus {
      top: 30px
    }
  }

  @media (min-width: 768px) {
    align-items: center;
    flex-flow: row;
  }

  .Header__icon-wrapper {
    width: 200px;
    display: inline-block;
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .Header__naw-wrapper {
    display: flex;
  }

  .Header__profile-wrapper {
    margin-left: 32px;
  }

  .Header__profile-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .Header__search-wrapper {
    min-width: 140px;
    position: relative;

    @media (min-width: 768px) {
      min-width: 295px;
    }

  }

  .Header__search-input {
    width: 100%;
    background: #F9F9FB;
    border: 1px solid #C7D2E9;
    border-radius: 26px;
    padding: 16px 42px 14px 14px ;

  }
  .Header__search-icon {
    position: absolute;
    top: 14px;
    right: 16px;
  }

  .Header__lang-buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 24px;
    width: 140px;
    justify-content: space-between;
  }
  .Header__lang-button {
    width: 64px;
    height: 52px;
  }
}
