html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &.overflow-hidden {
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 3px solid rgb(119, 162, 231);
    outline-offset: 3px;
  }

  .js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

  [data-js-focus-visible] :focus:not([data-focus-visible-added]) {
    outline: none;
  }
}

.visibility-hidden {
  display: none;
}

.Button-default {
  color: #000;
  font-weight: 600;
  border: 1px solid #C7D2E9;
  background: #fff;
  padding: 14px 16px 13px;
  border-radius: 8px;
  cursor: pointer;

  &:hover:not(.active) {
    background: #e6effd;
  }

  &.active {
    border: 1px solid #d6e1fa;
    background: #C7D2E9;
    cursor: default;
  }
}

.Button-primary {
  color: #FFFFFF;
  border: 1px solid #5D16D5;
  font-weight: 600;
  background: #5D16D5;
  padding: 14px 16px 13px;
  border-radius: 8px;
  cursor: pointer;

  &:hover:not(.active) {
    background: #340292;
  }
}

.Layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1088px;

  .Layout__content {
    margin: 0 16px;

    @media (min-width: 768px) {
      margin: 0 32px;
    }
  }
}


