.Translations {
  .Translations__video {
    margin: 32px 0;
    height: 300px;

    @media (min-width: 768px) {
      height: 500px;
    }

    @media (min-width: 1024px) {
      height: 600px;
    }
  }
}
