.Events {
  .Events__nav-item {
    margin-right: 20px;
  }

  .Events__items {
    margin: 32px 0;
    position: relative;
    width: 100%;

    &.loading {
      position: relative;
    }

    .loader {
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      .loader-text {
        position: absolute;
        font-size: 1.5rem;
        top: calc(50% - 10px);
        right: calc(50% - 10px);
      }
    }

    @media (min-width: 768px) {

    }

    .Events__item {
      font-family: sans-serif;
      color: #000000;
      margin-bottom: 24px;

      @media (min-width: 768px) {
        display: inline-block;
        width: calc(33.33% - 27px);
        vertical-align: top;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    .Events__item-image {
      height: 148px;
      width: 100%;
      margin-bottom: 24px;

      image,
      svg {
        height: 148px;
      }
    }
    .Events__item-title {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 16px;
    }
    .Events__item-date {
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin-bottom: 8px;
    }
    .Events__item-description{
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 24px;
    }

    .Events__item-buy-link {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
