.Footer {
  background-color: #F1F1F1;

  .Footer__wrapper {
    display: flex;
    max-width: 1072px;
    margin: 0 auto;
    padding: 72px 24px 95px;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 72px 24px 95px;
    }
  }

  .Footer__title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    font-size: 24px;
    line-height: 28px;
  }

  .Footer__subscribe {
    display: inline-block;
    width: 480px;


    @media (min-width: 768px) {
      width: 50%;
    }

    .Footer__title {
      margin-bottom: 46px;
    }
  }

  .Footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 480px;

    @media (min-width: 768px) {
      width: 50%;
    }

    .Footer__link {
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: 16px;
    }
  }

  .Footer__subscribe-checkbox {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
  }

  .Footer__subscribe-input-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 16px;
  }

  .Footer__subscribe-input {
    padding: 14px 12px 13px;
    border: none;
    border-bottom: 1px solid #000;
    background: #F1F1F1;

    &::placeholder {
      color: #000;
    }
  }

  .Footer__social-links {
    margin-top: 40px;
  }

  .Footer__social-btn {
    width: 54px;
    height: 40px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
  }
}
